.image{
  width: 100%;
  margin-top: 100px;
  height: auto;
  /* position: relative; */
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-attachment: fixed; */
  background-image:linear-gradient(to top right, rgba(245,169, 32, 1), rgba(245,169, 32, .5)), url("https://www.pngkit.com/png/detail/909-9098186_free-png-download-child-group-play-png-images.png");
  /* background-color: gold; */
}

.image h3{
  color: white;
  /* margin-top: 20em; */
  font-size: 40px;
  padding-left: 40px;
  padding-top: 40px;
}

.image p{
  color: white;
  /* margin-top: 20em; */
 
  padding-left: 40px;
  /* padding-top: 40px; */
}



.border-text{
  /* z-index: -1; */
  position: absolute;
  
  background-color: rgba(255,255,255,.5);
  border-radius: 0px 30px 30px 0px;
  margin-top: 13rem;
  border-width: 20px;
  padding-left: 10px;
  /* border:2px solid white; */
  width: 15em;
  /* text-align: center; */
}

.border-text2{
  /* z-index: -1; */
  position: absolute;
 
  background-color: rgba(255,255,255,.5);
  border-radius: 0px 30px 30px 0px;
  margin-top: 20rem;
  border-width: 20px;
  padding-left: 10px;
  /* border:2px solid white; */
  width: 15em;
  /* text-align: center; */
}


.space{
  padding-bottom: 20px;
}

@media (max-width: 768px){
  .border-text,
  .border-text2{
    display: none;
  }
}