.image{
  width: 100%;
  margin-top: 100px;
  height: auto;
  /* position: relative; */
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-attachment: fixed; */
  background-image:linear-gradient(to top right, rgba(245,169, 32, 1), rgba(245,169, 32, .5)), url("https://www.pngkit.com/png/detail/909-9098186_free-png-download-child-group-play-png-images.png");
  /* background-color: gold; */
}

.image h3{
  color: white;
  /* margin-top: 20em; */
  font-size: 40px;
  padding-left: 40px;
  padding-top: 40px;
}

.image p{
  color: white;
  /* margin-top: 20em; */
  position: absolute;
  padding-left: 40px;
  /* padding-top: 40px; */
}



.border-text{
  /* z-index: -1; */
  position: absolute;
  
  background-color: darkturquoise;
  color: white;
  border-radius: .35rem;
  margin-top: 9rem;
  margin-left: 30px;
  /* border-width: 20px; */
  padding-left: 0px;
  /* padding-right: 35px; */
  /* border:2px solid white; */
  width: 15em;
  text-align: center;
}

.brtext-fa{
  padding: 0 .5em;
  margin-top: 0;
}

.space{
  padding-bottom: 20px;
}

@media (max-width: 768px){
  .border-text,
  .border-text2{
    display: none;
  }
  .image p{
    display: none;
  }
}